@import "vars";
@import "mixins";

.nav-section {
  background: $pw-primary;
  width: 100%;
  position: fixed;
  top: 0;

  nav {
    $menu-icon-w-h: 30px;
    $menu-icon-margin: 18px;

    position: relative;
    margin: 0 auto;
    max-width: $xxl;
    border-bottom: 3px solid $pw-secondary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .nav-list {
      display: none;
      flex-wrap: wrap;
      list-style: none;
      color: white;
      position: absolute;
      background: $pw-primary;
      top: $menu-icon-w-h + ($menu-icon-margin * 2);

      width: 100%;
      margin: 0;
      padding: 0;

      li {
        width: 100%;
        cursor: pointer;
        font-size: 18px;
        padding: 16px 16px;
        transition: all .5s;

         &:hover, &.active-section {
          color: $pw-secondary;
        }

        &:hover {
          box-shadow: 0 0 31px 0 rgba(0,0,0,0.75);
        }
      }

      &.opened {
        display: flex;
      }
    }

    .menu-icon-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      .menu-icon {
        display: block;
        width: $menu-icon-w-h;
        height: $menu-icon-w-h;
        margin: $menu-icon-margin;
        background: url("/../../../assets/img/menu_icon.svg") no-repeat center;
        background-size: 100%;
      }
    }
  }

  @include breakpoint($md) {

  }

  @include breakpoint($lg) {

    nav {
      flex-direction: row;

      .nav-list {
        display: flex;
        height: auto;
        position: relative;
        top: 0;

        li {
          width: auto;
        }
      }

      .menu-icon-container {
        display: none;
      }
    }
  }
}
