<section class="nav-section">
  <nav [ngClass]="{'expanded': isMenuOpened}">
    <div class="menu-icon-container">
      <span (click)="toggleMenu()" class="menu-icon"></span>
    </div>

    <ul class="nav-list opened">
      <li (click)="selectSection('SECTION_MAIN')">Home</li>
      <li (click)="selectSection('SECTION_ABOUT')">About</li>
      <li (click)="selectSection('SECTION_PORTFOLIO')">Portfolio</li>
      <li (click)="selectSection('SECTION_CONTACT')">Contact</li>
    </ul>
  </nav>
</section>
