<section class="about-me-section">
  <div class="info-container">

    <div class="photo-container">
      <div class="photo-img">
        <!-- TODO: add my photo -->
      </div>
    </div>

    <div class="about-me-text-container">
      <div class="header-container">
        <h2>ABOUT</h2>
        <span class="header-line"></span>
      </div>

      <p class="text">
        I am a full-stack web developer, focused on creating quality,
        maintainable and stable projects, that deliver the best user experience
        to clients. I believe that first and foremost, every decision, whether it be a
        project structure or a function, there should be no compromises. I have experience
        working with both small startups and large corporate projects with a lot
        of functionality and a large database.
      </p>
    </div>
  </div>
</section>
