@import "vars";

.my-principles-section {

  background: $pw-primary;
  padding: 90px 0;

  .principles {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
