@import "vars";
@import "mixins";

:host {
  display: flex;
}

.principle-card {
  margin: 20px;
  padding: 20px;
  width: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  transition: box-shadow .4s ease-in-out;

  &:hover {
    border-color: #1C1B24;
    box-shadow: 0 0 31px 0 rgba(0,0,0,0.75);
  }

  .icon-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 26px;
    background: $pw-primary-light;

    img {
      width: 100px;
      height: 100px;
    }
  }

  .title {
    margin: 20px auto;

    width: 100%;
    display: block;
    text-align: center;
    color: white;
    font-size: 20px;
  }

  .description-container {
    text-align: center;
    width: 100%;
    font-size: 16px;
    color: white;

    p {
      margin: 0;
    }
  }

  @include breakpoint($sm) {
    margin: 20px;
    padding: 20px;
  }

  @include breakpoint($md) {
    margin: 30px;
    padding: 30px;
  }

  @include breakpoint($lg) {
    margin: 0 30px;
    padding: 30px;
  }

  @include breakpoint($xl) {
    margin: 0 40px;
    padding: 50px;
  }

  @include breakpoint($xxl) {
    margin: 0 60px;
  }
}
