@import "vars";

.footer {
  color: #e5e5e5;

  .links-section {
    background: $pw-secondary-dark;
    padding: 30px;

    .links-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;

      .links {
        margin: 10px auto;
        list-style: none;
        padding: 0;

        li {
          text-align: center;
          a {
            color: white;
          }
        }
      }
    }
  }

  .copyright-container {
    padding: 12px;
    background: $pw-primary;
    display: flex;
    justify-content: center;
  }
}
