<footer class="footer">
  <section class="links-section">
    <div class="links-container section-container">
      <ul class="links">
        <li>
          Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </li>
        <li>
          If you have any questions, please contact me.
        </li>
      </ul>
      <ul class="links">
        <li>
          View this project on <a href="https://github.com/Marius961/portfolio-website">Github</a>.
        </li>
      </ul>
    </div>
  </section>
  <section class="copyright-section">
    <span>Copyright © 2020 Marius Shiman. All rights reserved.</span>
  </section>
</footer>
