@import "vars";

.header-section {
  height: 100vh;
  max-height: 1080px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3B394D;

  .header {
    font-size: 36px;
    margin: 0;
    color: white;
    text-align: center;
    font-weight: normal;
  }
}
