@import "vars";

:host {
  width: 100%;
}

.section-header-container {
  margin-bottom: 80px;

  h2 {
    margin: 0 0 12px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
  }

  .header-line {
    display: block;
    width: 10%;
    height: 5px;
    margin: 0 auto;
    border-radius: 3px;
    background: $pw-secondary-dark;
  }

  &.header-light {
    h2 {
      color: white;
    }

    .header-line {
      background: white;
    }
  }

  &.header-dark {
    h2 {
      color: $pw-bg-dark-color;
    }

    .header-line {
      color: $pw-bg-dark-color;
    }
  }
}
