<section class="my-principles-section">
  <ul class="principles">
    <li class="item">
      <div class="icon-container"></div>
      <div class="title-container">
        <span class="title">Title</span>
        <small class="line"></small>
      </div>
      <div class="description-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci doloribus eaque fugit in molestias nulla possimus praesentium quae quos similique.</p>
      </div>
    </li>
    <li class="item">
      <div class="icon-container"></div>
      <div class="title-container">
        <span class="title">Title</span>
        <small class="line"></small>
      </div>
      <div class="description-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci doloribus eaque fugit in molestias nulla possimus praesentium quae quos similique.</p>
      </div>
    </li>
    <li class="item">
      <div class="icon-container"></div>
      <div class="title-container">
        <span class="title">Title</span>
        <small class="line"></small>
      </div>
      <div class="description-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci doloribus eaque fugit in molestias nulla possimus praesentium quae quos similique.</p>
      </div>
    </li>
    <li class="item">
      <div class="icon-container"></div>
      <div class="title-container">
        <span class="title">Title</span>
        <small class="line"></small>
      </div>
      <div class="description-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci doloribus eaque fugit in molestias nulla possimus praesentium quae quos similique.</p>
      </div>
    </li>
  </ul>
</section>
