@import "src/scss/vars";
@import "src/scss/mixins";

.technologies-section {
  .technology-section {
    padding: 90px 10px;
  }

  .technology-list {
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    list-style: none;
    padding: 0;
    justify-content: center;
  }

  .front-end-technologies {
    background: $pw-bg-color;
  }

  .back-end-technologies {
    background: $pw-primary-light;
  }

  @include breakpoint($sm) {
    .technology-section {
      padding: 90px 15px;
    }
  }

  @include breakpoint($md) {
    .technology-section {
      padding: 90px 20px;
    }
  }

  @include breakpoint($lg) {
    .technology-section {
      padding: 90px 40px;
    }
  }

  @include breakpoint($xl) {
    .technology-section {
      padding: 90px 50px;
    }
  }

  @include breakpoint($xxl) {
    .technology-section {
      padding: 90px 70px;
    }
  }
}
