<section class="technologies-section">
  <section class="technology-section front-end-technologies">
    <div class="section-header-container">
      <h2>Front-end</h2>
      <span class="header-line"></span>
    </div>

    <ul class="technology-list">
      <pw-technology-item imageSrc="assets/img/technologies/html5_icon.svg" technologyName="HTML"></pw-technology-item>
      <pw-technology-item imageSrc="assets/img/technologies/css3_icon.svg" technologyName="CSS"></pw-technology-item>
      <pw-technology-item imageSrc="assets/img/technologies/js_icon.svg" technologyName="JS"></pw-technology-item>
      <pw-technology-item imageSrc="assets/img/technologies/angular_icon.svg" technologyName="Angular"></pw-technology-item>
      <pw-technology-item imageSrc="assets/img/technologies/vue_icon.svg" technologyName="Vue"></pw-technology-item>
      <pw-technology-item imageSrc="assets/img/technologies/bootstrap_icon.svg" technologyName="Bootstrap"></pw-technology-item>
      <pw-technology-item imageSrc="assets/img/technologies/jquery_icon.svg" technologyName="jQuery"></pw-technology-item>
    </ul>
  </section>
  <section class="technology-section back-end-technologies">
    <div class="section-header-container">
      <h2>Back-end</h2>
      <span class="header-line"></span>
    </div>

    <ul class="technology-list">
      <pw-technology-item imageSrc="assets/img/technologies/java_icon.svg" technologyName="Java"></pw-technology-item>
      <pw-technology-item imageSrc="assets/img/technologies/spring_icon.svg" technologyName="Spring"></pw-technology-item>
      <pw-technology-item imageSrc="assets/img/technologies/hibernate_icon.svg" technologyName="Hibernate"></pw-technology-item>
      <pw-technology-item imageSrc="assets/img/technologies/mysql_icon.svg" technologyName="MySQL"></pw-technology-item>
      <pw-technology-item imageSrc="assets/img/technologies/jwt_icon.svg" technologyName="JWT"></pw-technology-item>
    </ul>
  </section>
</section>
