@import "src/scss/vars";
@import "src/scss/mixins";

.nav-section {
  z-index: 9999;
  background: $pw-primary;
  width: 100%;
  position: fixed;
  border-bottom: 3px solid $pw-secondary;
  top: 0;

  nav {
    $menu-icon-w-h: 20px;
    $menu-icon-margin: 15px;

    position: relative;
    margin: 0 auto;
    max-width: $xxl;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .nav-list {
      display: none;
      flex-wrap: wrap;
      list-style: none;
      color: white;
      position: absolute;
      background: $pw-primary;
      top: $menu-icon-w-h + ($menu-icon-margin * 2);

      width: 100%;
      margin: 0;
      padding: 0;

      li {
        width: 100%;
        cursor: pointer;
        font-size: 14px;
        padding: 16px 16px;
        transition: all .5s;

        &:hover {
          color: $pw-secondary;
          background: $pw-bg-dark-color;
        }
      }

      &.opened {
        display: flex;
        border-bottom: 3px solid $pw-secondary;
      }
    }

    .menu-icon-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      .menu-icon {
        display: block;
        width: $menu-icon-w-h;
        height: $menu-icon-w-h;
        margin: $menu-icon-margin;
        background: url("/../../../../assets/img/menu_icon.svg") no-repeat center;
        background-size: 100%;
      }
    }
  }

  @include breakpoint-from($lg) {

    nav {
      flex-direction: row;

      .nav-list {
        display: flex;
        height: auto;
        position: relative;
        top: 0;

        li {
          font-size: 18px;
          width: auto;

          &:hover {
            color: $pw-secondary;
            background: none;
            box-shadow: 0 0 31px 0 rgba(0, 0, 0, 0.75);
          }
        }
      }

      .menu-icon-container {
        display: none;
      }
    }
  }
}
