@import "vars";
@import "mixins";

.projects-section {
  padding: 90px 10px;
  max-width: $xxl;
  margin: 0 auto;

  .project-cards {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

  }
}
