@import "mixins";
@import "vars";

$card-bg-original-w: 1920px;
$card-bg-original-h: 1080px;

.project-card {

  margin: 6px;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  border-radius: 6px;

  background: grey center no-repeat;
  background-size: 100%;

  .card-img {
    width: $card-bg-original-w * .3;
    height: $card-bg-original-h * .3;
  }

  .card-title-container {
    position: absolute;
    bottom: 0;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0 0 16px;
    border-radius: 0 0 6px 6px;

    color: white;
    box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.36);
    backdrop-filter: blur(6px);

    transition: bottom .3s ease-out;

    &.show-description {
      bottom: 100%;
    }

    .card-title {
      padding: 16px 16px 16px 0;

      h4 {
        margin: 0;
      }
    }

    .more-info-button {
      padding-left: 16px;
      margin-left: 16px;

      min-width: 40px;
      min-height: 40px;

      width: 40px;
      height: 40px;

      border-left: 1px solid white;
      background-repeat: no-repeat;
      background-image: url("/../../../../../assets/img/info-icon.svg");
      background-size: 26px;
      background-position: center;
      transition: opacity .25s;

      &:hover {
        cursor: pointer;
        opacity: .8;
      }
    }
  }

  .card-description {
    z-index: 2;
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    padding: 16px;
    border-radius: 6px;
    top: 100%;
    overflow-y: auto;

    color: white;
    transition: top .3s ease-out;
    backdrop-filter: blur(6px);

    &.show-description {
      top: 0;
    }

    .description-header-section {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h5 {
        margin: 0;
        font-size: 16px;
      }

      .close-btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 6px 10px;
        transition: box-shadow .3s;
        font-size: 16px;

        img {
          margin-left: 16px;
          width: 16px;
          height: 16px;
        }

        &:hover {
          box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.75);
        }
      }
    }

    .info-text {
      text-align: justify;
    }
  }
}

@include breakpoint-to($xl) {
  .project-card {
    margin: 5px;

    .card-img {
      width: $card-bg-original-w * .25;
      height: $card-bg-original-h * .25;
    }
  }
}

@include breakpoint-to($lg) {
  .project-card {
    //margin: 9px;
    margin: 7px;


    .card-img {
      width: $card-bg-original-w * .29;
      height: $card-bg-original-h * .29;
    }
  }
}

@include breakpoint-to($sm) {
  .project-card {
    margin: 7px;

    .card-img {
      width: 100%;
      height: auto;
    }
  }
}
