<li class="project-card">

  <div class="image-wrapper">
    <img [src]="imageSrc" alt="Project image">
  </div>

  <div class="card-title-container" [ngClass]="{'show-description': isShowProjectInfo}">
    <div class="card-title">
      <h4> {{projectName}}&nbsp;&nbsp;|&nbsp;&nbsp;{{projectYear}} </h4>
    </div>
    <span class="more-info-button" (click)="setProjectInfoVisibility(true)"></span>
  </div>

  <div class="card-description" [ngClass]="{'show-description': isShowProjectInfo}">
    <section class="description-header-section">
      <h5>About project</h5>
      <span class="close-btn" (click)="setProjectInfoVisibility(false)">
        Hide
        <img src="assets/img/arrow.svg" alt="Close">
      </span>
    </section>
    <p class="info-text"> {{projectDescription}} </p>
  </div>
</li>
