<section class="my-principles-section">
  <ul class="section-container principles">
    <pw-principle-card
      cardTitle="Fast"
      imageSrc="assets/img/fast_icon.png"
    >
      All components and data on the page should be optimized to reduce load time.
    </pw-principle-card>
    <pw-principle-card
      cardTitle="Responsive"
      imageSrc="assets/img/responsive_icon.png"
    >
      Any page should look good and be as functional as possible on any type of device.
    </pw-principle-card>
    <pw-principle-card
      cardTitle="Supportable"
      imageSrc="assets/img/supportable-icon.png"
    >
      Architecture and functionality of both the client and the server should be easily extensible and maintainable.
    </pw-principle-card>
  </ul>
</section>


