@import "src/scss/vars";
@import "src/scss/mixins";

.technology-item {
  margin: 0;
  padding: 30px 10px;
  width: 100px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;

  .icon-container {
    pointer-events: none;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.31);
    border-radius: 18px;
    margin-bottom: 30px;

    img {
      width: 42px;
      height: 42px;
    }
  }

  .technology-name {
    text-align: center;
    font-weight: bold;
    width: 100%;
    font-size: 16px;
  }

  @include breakpoint($sm) {
    width: 150px;
    padding: 30px 16px;

    .icon-container {
      width: 100px;
      height: 100px;

      img {
        width: 64px;
        height: 64px;
      }
    }

    .technology-name {
      font-size: 20px;
    }
  }
}
