@import "vars";
@import "mixins";

.section-portfolio {
  background: $pw-primary;

  .section-portfolio-container {
    @include section-base;

    .project-cards {
      list-style: none;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
  }
}
