@import "vars";
@import "mixins";

.section-about {
  @include section-base;

  background: #ffffff url("/../../../../../assets/img/gplay.png") repeat;

  .info-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    align-items: flex-start;

    .title-bold {
      display: block;
      text-align: center;
      font-weight: bold;
      color: $pw-primary-light;
    }

    .about-col {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .personal-info-container {
      margin-right: 30px;
      position: sticky;
      top: 80px;

      .photo-container {
        margin: 0 auto 35px;

        img {
          display: block;
          width: 300px;
          height: 300px;

          border-radius: 100%;
        }
      }

      .about-me-text {
        text-align: center;
      }

      .btn-container {
        margin-top: 20px;

        .contact-me-btn {
          display: block;
          padding: 14px 40px;
          margin: 0 auto;
          border: 0;
          border-radius: 4px;

          font-size: 16px;
          color: white;
          background-color: $pw-primary-light;
          transition: background-color .3s;

          &:focus {
            outline: none;
          }

          &:hover {
            cursor: pointer;
            background-color: $pw-bg-dark-color;
          }
        }
      }
    }

    .technologies-container {
      margin-left: 30px;

      .technologies-title {
        margin-bottom: 30px;
      }

      .technologies-list-container {

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        .list-title {
          display: block;
          padding-bottom: 10px;
          margin-bottom: 20px;

          border-bottom: 3px solid $pw-primary-light;

          font-size: 18px;
          font-weight: bold;
          color: $pw-primary-light;
        }

        .technology-list {
          list-style: none;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

@include breakpoint-to($xxl) {
  .section-about {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@include breakpoint-to($lg) {
  .section-about {
    .info-container {
      .personal-info-container {
        position: relative;
        top: auto;
      }
    }
  }
}

@include breakpoint-to($md) {
  .section-about {
    .info-container {
      flex-direction: column;

      .personal-info-container {
        margin-right: 0;
        margin-bottom: 30px;
      }

      .technologies-container {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;

        margin-top: 40px;
        margin-left: 0;

        .technologies-title {
          width: 100%;
        }

        .technologies-list-container {
          $list-margin: 16px;

          display: flex;
          flex-flow: row wrap;
          width: calc(50% - #{$list-margin});

          .list-title {
            width: 100%;
          }

          &:first-child {
            margin-right: 16px;
          }

          &:last-child {
            margin-left: 16px;
          }

          .technology-list {
            width: 100%;
          }
        }
      }
    }
  }
}

@include breakpoint-to($lg) {
  .section-about {
    .info-container {
      .personal-info-container {
        .photo-container {
          img {
            width: 240px;
            height: 240px;
          }
        }
      }
    }
  }
}

@include breakpoint-to($sm) {
  .section-about {
    .info-container {

      .personal-info-container {
        .photo-container {
          img {
            margin: 0 auto;
            width: 80%;
            height: auto;
          }
        }
      }

      .technologies-container {
        .technologies-list-container {
          width: 100%;

          &:first-child {
            margin-right: 0;
          }

          &:last-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}
