<section class="section-about">
  <div class="section-container info-container">
    <pw-section-title>About</pw-section-title>

    <div class="info-container">
      <div class="about-col personal-info-container">
        <div class="photo-container">
          <img src="/assets/img/photo.jpg" alt="Photo">
        </div>

        <span class="title-bold">A few words about me.</span>

        <p class="about-me-text">
          I am a full-stack web developer with 1 year of commercial experience. I have experience with large corporate
          projects, including both support and development of new functions, mainly these projects are in the sphere of
          service provision. I also have experience with small projects, such as company websites and blogs. For me,
          first of all, each function that I have implemented must perform all tasks with high quality in any
          conditions and on any devices for which it is designed.
        </p>

        <div class="btn-container">
          <button (click)="selectContactSection()" class="contact-me-btn">Contact me</button>
        </div>
      </div>

      <div class="about-col technologies-container">
        <span class="title-bold technologies-title">My technology stack with percent of usage.</span>

        <div class="technologies-list-container">
          <span class="list-title">Front-end</span>

          <ul class="technology-list">
            <pw-technology-item usagePercent="95" imageSrc="assets/img/technologies/html5_icon.svg" technologyName="HTML"></pw-technology-item>
            <pw-technology-item usagePercent="95" imageSrc="assets/img/technologies/css3_icon.svg" technologyName="CSS"></pw-technology-item>
            <pw-technology-item usagePercent="95" imageSrc="assets/img/technologies/js_icon.svg" technologyName="JS"></pw-technology-item>
            <pw-technology-item usagePercent="60" imageSrc="assets/img/technologies/angular_icon.svg" technologyName="Angular"></pw-technology-item>
            <pw-technology-item usagePercent="30" imageSrc="assets/img/technologies/vue_icon.svg" technologyName="Vue"></pw-technology-item>
            <pw-technology-item usagePercent="70" imageSrc="assets/img/technologies/bootstrap_icon.svg" technologyName="Bootstrap"></pw-technology-item>
            <pw-technology-item usagePercent="20" imageSrc="assets/img/technologies/jquery_icon.svg" technologyName="jQuery"></pw-technology-item>
          </ul>
        </div>

        <div class="technologies-list-container">
          <span class="list-title">Back-end</span>

          <ul class="technology-list">
            <pw-technology-item usagePercent="85" imageSrc="assets/img/technologies/java_icon.svg" technologyName="Java"></pw-technology-item>
            <pw-technology-item usagePercent="80" imageSrc="assets/img/technologies/spring_icon.svg" technologyName="Spring"></pw-technology-item>
            <pw-technology-item usagePercent="80" imageSrc="assets/img/technologies/hibernate_icon.svg" technologyName="Hibernate"></pw-technology-item>
            <pw-technology-item usagePercent="80" imageSrc="assets/img/technologies/mysql_icon.svg" technologyName="MySQL"></pw-technology-item>
            <pw-technology-item usagePercent="30" imageSrc="assets/img/technologies/jwt_icon.svg" technologyName="JWT"></pw-technology-item>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
