<section class="section-contact">
  <div class="section-container">
    <pw-section-title class="contact-form-title" headerStyle="light">Contact</pw-section-title>

    <div class="contacts-container">
      <section class="contact-form-section">
        <span class="social-links-title">Contact me using this form:</span>

        <form #form="ngForm" (ngSubmit)="form.valid && !loading && sendEmail()">
          <div class="form-input">
            <input
              [(ngModel)]="emailMessage.name"
              #name="ngModel"
              name="name"
              id="name"
              type="text"
              placeholder="Name *"
              required
              minlength="2"
              maxlength="64"
              [disabled]="loading"
            >

            <span *ngIf="name.dirty && name.errors?.required" class="text-warning">This field is required.</span>
            <span *ngIf="name.errors?.minlength" class="text-warning">Min length of name is 2 characters.</span>
          </div>

          <div class="form-input">
            <input
              [(ngModel)]="emailMessage.email"
              #email="ngModel"
              name="email"
              id="email"
              type="text"
              placeholder="Email *"

              required
              email
              maxlength="80"
              [disabled]="loading"
            >

            <span *ngIf="email.dirty && email.errors?.required" class="text-warning">This field is required.</span>
            <span *ngIf="email.errors?.email" class="text-warning">This field must contain an email,</span>
          </div>

          <div class="form-input">
            <input
              [(ngModel)]="emailMessage.subject"
              #subject="ngModel"
              name="subject"
              id="subject"
              type="text"
              placeholder="Subject *"

              required
              minlength="3"
              maxlength="128"
              [disabled]="loading"
            >

            <span *ngIf="subject.dirty && subject.errors?.required" class="text-warning">This field is required.</span>
            <span *ngIf="subject.errors?.minlength" class="text-warning">Min length of name is 3 characters.</span>
          </div>

          <div class="form-input">
            <textarea
              [(ngModel)]="emailMessage.message"
              #message="ngModel"
              name="message"
              id="message"
              placeholder="Message *"
              rows="6"

              required
              minlength="12"
              maxlength="1024"
              [disabled]="loading"
            ></textarea>

            <span *ngIf="message.dirty && message.errors?.required" class="text-warning">This field is required.</span>
            <span *ngIf="message.errors?.minlength" class="text-warning">Min length of message is 12 characters.</span>
          </div>

          <span class="text-warning form-warning">Please, do not use this form for spam or sending confidential information.</span>

          <re-captcha
            siteKey="6LdQcusZAAAAAGOB2dOi_egasdRrp6pbQuoCEA-I"
            [(ngModel)]="emailMessage['g-recaptcha-response']"
            name="captcha"
            #captchaControl="ngModel"
            theme="dark"
            required
          ></re-captcha>

          <div class="button-container">
            <button class="btn-submit" [disabled]="form.invalid || loading" type="submit">
              <span *ngIf="!loading; else sendingText">Send</span>

              <ng-template #sendingText>
                <span>Sending...</span>
              </ng-template>
            </button>
          </div>
        </form>
      </section>

      <section class="other-contacts-section">
        <span class="social-links-title">Or write me a message:</span>

        <div class="contact-item">
          <img src="/assets/img/icons/email.svg" alt="Email">

          <div class="text-content">
            <span class="contact-title">Email:</span>
            <a class="contact-value" [href]="'mailto:' + contactEmail"> {{contactEmail}} </a>
          </div>
        </div>

        <div class="social-links-container">
          <span class="social-links-title">You can find me and my work there:</span>

          <ul class="social-links-list">
            <li>
              <a href="https://www.linkedin.com/in/marius-shiman-8502b218a/" class="link" target="_blank">
                <img src="/assets/img/icons/linkedin.svg" alt="Linkedin">
              </a>
            </li>
            <li>
              <a href="https://github.com/Marius961" class="link" target="_blank">
                <img src="/assets/img/icons/github.svg" alt="GitHub">
              </a>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</section>
