<section class="section-contact">
  <div class="section-container">
    <pw-section-title class="contact-form-title" headerStyle="light">Contact</pw-section-title>

    <div class="contacts-container">
      <section class="contact-form-section">
        <span class="social-links-title">Contact me using this form:</span>

        <form>
          <div class="form-input">
            <input type="text" name="name" placeholder="Name *" id="name">
          </div>
          <div class="form-input">
            <input type="text" name="email" placeholder="Email *" id="email">
          </div>
          <div class="form-input">
            <input type="text" name="subject" placeholder="Subject *" id="subject">
          </div>
          <div class="form-input">
            <textarea rows="6" name="message" placeholder="Message *" id="message"></textarea>
          </div>

          <div class="button-container">
            <button class="btn-submit" type="submit">Send</button>
          </div>
        </form>
      </section>

      <section class="other-contacts-section">
        <span class="social-links-title">Or write me a message:</span>

        <div class="contact-item">
          <img src="/assets/img/email.svg" alt="Email">

          <div class="text-content">
            <span class="contact-title">Email:</span>
            <span class="contact-value">test.email@example.com</span>
          </div>
        </div>

<!--        <div class="social-links-container">-->
<!--          <span class="social-links-title">You can find me and my work there:</span>-->

<!--          <ul class="social-links-list">-->
<!--            <li>-->
<!--              <a href="" class="link">-->
<!--                <img src="assets/img/email.svg" alt="Email">-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
      </section>
    </div>
  </div>
</section>
