@import "vars";
@import "mixins";

.section-main {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  min-height: 600px;

  background: #3B394D url("/../../../../assets/img/bg_1.png") fixed center no-repeat;
  background-size: cover;

  .title {
    margin: 0;

    font-size: 36px;
    font-weight: normal;
    text-align: center;
    color: #d6d6d6;

    .name {
      color: white;
    }
  }
}

@include breakpoint-to($xl) {
  .section-main {
    background-attachment: scroll;
  }
}
