@import "vars";
@import "mixins";

.header-section {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  background: #3B394D url("/../../../../assets/img/bg_1.png") fixed center no-repeat;
  background-size: cover;

  .header {
    font-size: 36px;
    margin: 0;
    color: #d6d6d6;
    text-align: center;
    font-weight: normal;

    .name {
      color: white;
    }
  }
}

@include breakpoint-to($xl) {
  .header-section {
    background-attachment: scroll;
  }
}
