<section class="technologies-section">
  <section class="technology-section front-end-technologies">
    <div class="section-header-container">
      <h2>Front-end</h2>
      <span class="header-line"></span>
    </div>

    <ul class="technology-list">
      <!-- TODO: move to separated component -->
      <li class="technology-item">
        <div class="icon-container">
        </div>
        <span class="technology-name">Tech name</span>
      </li>
    </ul>
  </section>
  <section class="technology-section back-end-technologies">
    <div class="section-header-container">
      <h2>Back-end</h2>
      <span class="header-line"></span>
    </div>

    <ul class="technology-list">
      <li class="technology-item">
        <div class="icon-container">
        </div>
        <span class="technology-name">Tech name</span>
      </li>
    </ul>
  </section>
</section>
