@mixin breakpoint-from($width) {
  @media all and (min-width: $width) {
    @content;
  }
}

@mixin breakpoint-to($width) {
  @media all and (max-width: $width) {
    @content;
  }
}

@mixin section-base {
  padding: 90px 10px;
}

@mixin lazy-load-image {
  transition: opacity .3s;
  opacity: 0;

  &.ng-lazyloaded {
    opacity: 1;
  }
}
