$pw-primary: #272633;
$pw-primary-light: #6C688C;

$pw-secondary: #716e94;
$pw-secondary-dark: #3B394D;

$pw-bg-color: #ffffff;
$pw-bg-dark-color: #312F40;

$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

